<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="myDiv">

        <input type="text" id="myInput" v-model="myString">

        <p id="myP" >{{myString}}</p>

        <ul><li v-for="name in myArr" v-text="name"></li></ul>

        <input type="text" id="input"> <button id="button">Add Name</button>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>

    <script>

    
    var app = new Vue({
        el: '#myDiv',
        data: {
            myString: 'Hello Me',
            myName: 'Mark',
            myArr: ['Edward', 'Alphonse', 'Mustang', 'Alex']
        },
        mounted(){
            document.querySelector('#button').addEventListener('click', () => {
            let name = document.querySelector('#input');

            app.myArr.push(name.value);

            name.value = '';
    } )
        }
    })

    
    
    </script>

</body>
</html>