<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    
    .blockDiv{
        
    }

    ul{
        display: inline-block;
    }

    button{
        margin-left: 20px;
    }
    
    </style>
</head>
<body>

    <div id="root">
        <h1>{{reversedMessage}}</h1>

        <div :class="listDiv">
            <h2>All Tasks</h2>
            <ul>
                <li v-for="task in tasks" >
                        {{task.description}}
                        <button @click="changeCompletion(task.num)" v-if="task.completed">Complete</button>
                        <button @click="changeCompletion(task.num)" v-if="!task.completed">Incomplete</button>
                </li>
                
            </ul>
        </div>
        <div :class="listDiv">
            <h2>Incomplete Tasks</h2>
            <ul>
                <li v-for="task in incompleteTasks"  v-text="task.description"></li>
            </ul>
        </div>
        <div :class="listDiv">
            <h2>Complete Tasks</h2>
            <ul>
                <li v-for="task in completeTasks"  v-text="task.description"></li>
            </ul>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>

    <script>
        
        let app = new Vue({
            el: '#root',
            data: {
                message: 'Hello World',
                buttonVal: 'Finished',
                
                tasks: [
                    {description: 'Go to the store', completed: true, num:0},
                    {description: 'Finish screencast', completed: false, num:1},
                    {description: 'Make Donation', completed: false, num:2},
                    {description: 'Clear inbox', completed: false, num:3},
                    {description: 'Make dinner', completed: false, num:4},
                    {description: 'Clean room', completed: true, num:5}
                ],
                listDiv: 'blockDiv'
            },

            methods: {
                changeCompletion(val){
                     
                     this.tasks[val].completed = !this.tasks[val].completed;
                     console.log(val);
                }
            },

            computed: {
                reversedMessage(){
                    return this.message.split('').reverse().join('');
                },
                incompleteTasks(){
                    return this.tasks.filter(e => !e.completed);
                },
                completeTasks(){
                    return this.tasks.filter(e => e.completed);
                }
            }
        })
        
    </script>
</body>
</html>